*.bak
*.kicad_pcb-bak
*.zip

## Code Composer Junk Files from Eclipse
*.cproject
*.project
*.cmd
*.ccsproject
*.launch
*.prefs
*makefile
*.map
*.out
*.xml
*.d
*.obj
*.mk
*.ccxml
*.txt
*/.jxbrowser-data
*/.metadata
/msp430fr243x_adc10_01.c/
/msp430fr243x_ta0_01.c/
