*.bak
*.kicad_pcb-bak
*.zip

## Code Composer Junk Files from Eclipse
*.cproject
*.project
*.cmd
*.ccsproject
*.launch
*.prefs
*makefile
*.map
*.out
*.xml
*.d
*.obj
*.mk
*.ccxml
*.txt
*/.jxbrowser-data
*/.metadata